<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063967171945-h9qnpog2qvg28qsa3ffmostrrut3nh9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063967171945-h9qnpog2qvg28qsa3ffmostrrut3nh9n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1063967171945-rs8hv98mai42d78hluh8p2isopvmg9us.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC27ZbfnF_p9rp7F93hyHpJmWufQlmvJfo</string>
	<key>GCM_SENDER_ID</key>
	<string>1063967171945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.smartparkingapp</string>
	<key>PROJECT_ID</key>
	<string>smartparkingapp-b16d3</string>
	<key>STORAGE_BUCKET</key>
	<string>smartparkingapp-b16d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063967171945:ios:16da1f2a7795ea2aae49f8</string>
</dict>
</plist>